.footer-container {
    background: blanchedalmond;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-column h3 {
    font-size: 18px;
    /* margin-bottom: 10px; */
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    background: blanchedalmond;
    text-align: center;
  }
  
  .social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .social-list li {
    display: flex;
    align-items: center;
  }
  
  .social-list img {
    width: 30px; /* Adjust size as needed */
    margin-right: 10px; /* Add spacing between logo and text */
  }
  
  .social-list a {
    color: #333;
    text-decoration: none;
  }
  
  .social-list a:hover {
    text-decoration: underline;
  }