* {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #ADD8E6, #7084c0); */
    /* background-image: url('https://img.freepik.com/premium-photo/bright-blue-abstract-gradient-background_212417-505.jpg'); */
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;

}

.AddNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.user-register {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
} 
.user-login {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.loginpage {
    min-height: 100vh;
    background-color: #00BFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logincard{
    background-color: white;
    border-radius: 15px;
    padding-right: -100px;
}

.logincard form {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.loginpage form input {
    width: 300px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background: linear-gradient(to bottom, #FFFFFF, #808080);

}

.homepage .container {
    margin: 10px;
    padding: 10px;
    gap: 5px;
}

.homepage .container h4 {
    text-align: center;
}

.homepage .YearlyCards{
    margin: 15px;
    border-radius: 10px;
}

.homepage .YearlyCards .card {
    margin: 10px;
}

.homepage .container-fluid .AddButtons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

.YearsData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MonthlyExpense {
    display: flex;
    justify-content: space-between;

}

.MonthlyExpense label {
    background-color: #a3e3f8;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.MonthlyExpense p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: .5px solid;
    border-radius: 5px;
}

.YearCard img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.YearCard .btn-group {
    gap: 5px;
}

.NavigationMenu .navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.NavigationMenu .navbar .container-fluid img {
    height: 45px;
}

.Budgeting {
    min-height: 100vh;
    padding: 20px;
    margin-top: 70px;
    background-image: url('https://img.freepik.com/free-vector/happy-man-counting-his-money_74855-6507.jpg?w=2000&t=st=1710948483~exp=1710949083~hmac=9d939c755e40b2852efddac59ca100ce56dcc86df31e7a8c1d66dcc6895adc3d');
    background-repeat: no-repeat;
    background-size: cover;
}

.Budgeting .Input {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 10px;
}

.Budgeting .Allowance {
    padding: 5px;
}

.Budgeting .Allowance p {
    font-size: large;
    font-weight: bold;
}

.Budgeting .AllowanceDistribution {
    margin: 10px;
    border: .5px solid black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(190, 190, 190, 0.385);
}

.Budgeting .AllowanceDistribution .Distribuition {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.Budgeting .AllowanceDistribution label {
    font-weight: bold;
    background-color: lightblue;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.Budgeting .AllowanceDistribution p {
    background-color: rgb(0, 173, 230);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.active {
    font-weight: bold;
}
.Investing {
    min-height: 100vh;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/free-vector/indian-money-rupee-sign-background-key-economic-prosperity_1017-44467.jpg?t=st=1710950597~exp=1710954197~hmac=f22d63d9423267ffdf424e2171854a2f2ebe7bde941b1526584449203459ab39&w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
}

.Investing table {
    text-align: center;
}

.Investing .StocksTable tr{
    border: 1px solid black;
    width: 250px;
}
.Investing .StocksTable td {
    border: 1px solid black;
    width: 250px;
}
.Investing .StocksTable th {
    border: 1px solid black;
    width: 250px;
}

.MF {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.MF td {
    border: .5px solid black;
    width: 250px;
}

.MFTable {
    display: flex;
    flex-direction: column;

}

.Home {
    margin-top: 70px;
    background-image: url('https://img.freepik.com/free-vector/finance-financial-performance-concept-illustration_53876-40450.jpg?t=st=1710948968~exp=1710952568~hmac=58b661f3d7744ab4db4f8134441038954c8133ef9877acfa3477878707065683&w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}




@keyframes popIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .pop-in {
    animation: popIn 1s ease forwards;
  }
  

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-down {
    animation: slideDown 1s ease forwards;
  }
  

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-150%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-right {
    animation: slideRight 1s ease forwards;
  }
  